main>div {
    background-color: white;
    border-radius: 10px;
    font-size: 30px;
    padding: 20px;
    text-align: left;
}

main>div>h2 {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

main>div>p {
    font-size: 16px;
}

ul {
    font-size: 14px;
}

main {
    background-color: black;
    text-align: justify;
    display: grid;
    grid-template-areas:
        " ",
        "",
        "",
        "",
        "",
        "",
    ;
    grid-gap: 20px;
    padding: 20px;
}