/*mobile first view*/
h2 {
    display: none;
}

aside {
    background-color: white;
    font-size: 120%;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}

aside a {
    color: black;
    display: block;
    padding: 5px 0;
    text-decoration: none;
    width: 100%;
}

aside a:hover {
    background-color: black;
    color: white;
}

aside a:focus {
    background-color: black;
    color: white;
    outline: none;
}

#main_image {
    width: 100%;
}

article {
    background-color: black;
    color: white;
    font-size: 120%;
    padding: 0 10px;
    text-align: justify;
}

article a {
    color: white;
    padding: 5px;
    text-decoration: none;
}

narticle a:hover {
    background-color: white;
    color: black;
}

article a:focus {
    background-color: white;
    color: black;
    text-decoration: none;
}


@media only screen and (min-width: 768px) {
    main {
        display: flex;
    }

    aside {
        align-items: center;
        display: flex;
        flex-direction: column;
        float: left;
        justify-content: center;
        width: 30%;
    }

    section {
        display: inline;
        float: right;
        width: 30%;
    }
}